/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2018, 15:34:19
    Author     : Act
*/

.navbar {
    overflow: hidden;
    background-color: #fd9c29; 
    float: left;
    width: 100%;
}

body { 
  background: url(assets/white_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.logo {
    width: 10%;
}

.header {
    top: 0;
    left: 0;
    vertical-align: bottom;
}

.mainheadline {
    float: left;
    font-size: calc(12px + 2vw);
    text-transform: uppercase;
    font-family: 'Russo One', Impact, sans-serif;
    display: inline-block;
}

.discord_topright{
    position: absolute;
    top: 2px;
    right: 2px;
    display: inline-block;
}

.navbar a {
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding: 2px 16px;
    font-size: calc(10px + 1vw);
    font-family: 'Russo One', Impact, sans-serif;
}

.navbar a:hover {
    background-color: #000000;
    color: #ffffff;
}

.twitter-widget {
    float: right;
    position: relative;
    display: inline;
}

.main_top {
    width: 100%;
    padding-top: 50px;
    display: block;
    height: 300px;
    position: relative;
}

.teamrow{
    padding: 20px 20px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    float: left;
    border-radius: 10%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Russo One', Impact, sans-serif;
    display: inline-block;
    text-align: center;
}

#harmony {
  background: #e7c92b;
}

#dallas {
    background: #303030;
}

#london {
    background: #ff8200;
}

#mortals {
    background: #f1d854;
    color: #477033;
}

#nyxd {
    background: #001235;
}

#philadelphia {
    background: #000000;
    color: #ffffff;
}

#boston {
    background: #174b97;
    color: #EEDF00;
}

#sanfran {
    background: #ffffff;
}

#atlanta {
    background: #bcdbff;
}

#cosmic {
    background: #000000;
}

#houston {
    background: #000000;
    color: #96cc59;
}

#shanghai {
    background: #d22730;
    color: #fce300;
}

.maintable {
    padding: 0px 0px;
    margin: 0px 0px;
    border: none;
    vertical-align: top;
}

tbody {
    vertical-align: top;
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    margin-left: 5%;
    float: left;
    width: 50%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    font-size: calc(5px + 0.5vw);
    position: relative;
}

.second-text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
    float: left;
    width: 50%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    margin-left: -220px;
    left: calc(5%+220px);
    font-size: calc(5px + 0.5vw);
    display: inline-block;
    position: relative;
}

.third-text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 100px;
    float: left;
    width: 50%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    font-size: calc(5px + 0.5vw);
}

.right-picture{
    margin-top: 10px;
    margin-left: -220px;
    float: left;
    height: 300px;
    position: relative;
}

.lower-right-picture{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -120px;
    float: left;
    height: 300px;
    position: relative;
}

.left-picture{
    margin-top: -30px;
    margin-left: 5%;
    height: 300px;
    float: left;
    position: relative;
    z-index: 2;
}

.main_two {
    width: 100%;
    padding-top: 0px;
    display: block;
    height: 300px;
}

.main_three {
    width: 100%;
    padding-top: 0px;
    display: block;
    height: 300px;
}

@media only screen and (max-width: 1050px) {
    .left-picture{
        height: 200px;
    }
    .right-picture{
        height: 200px;
        margin-left: -100px;
    }
    .lower-right-picture{
        height: 200px;
        margin-left: -50px;
    }
    .about-text{
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .second-text{
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: -100px;
        padding-left: 20px;
        padding-right: 20px;        
    }
    .third-text{
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;        
    }
}

@media only screen and (max-width: 650px) {
    .left-picture{
        height: 150px;
    }
    .right-picture{
        height: 150px;
        margin-left: -100px;
    }
    .lower-right-picture{
        height: 150px;
        margin-left: -30px;
    }
    .about-text{
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .second-text{
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: -50px;
        padding-left: 20px;
        padding-right: 20px;        
    }
    .third-text{
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;        
    }
    .discordlinkimg {
        height:15px;
    }
    .twitter-widget {
        display: none;
    }
}